* {
  margin: 0;
}

body {
  width: 900px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style-type: none;
}

h1 {
  display: block;
  text-align: center;
  float: left;
  margin: 140px 15px 0 5px;
  text-transform: uppercase;
  color: rgb(39, 201, 223);
}

.title {
  display: inline-block;
  color: white;
  vertical-align: top;
}

.section-title {
  width: 150px;
  margin: 0 60px 0 0;
  padding: 5px;
}

.about-me {
  position: relative;
  display: inline-block;
  background-color: rgb(39, 201, 223);
  padding: 0 50px;
  width: 576px;
}

.about-me-title {
  width: 300px;
  margin-top: 25px;
}

.text-about-me {
  display: inline-block;
  vertical-align: top;
  width: 300px;
}

.section-case {
  background-color: rgb(39, 201, 223);
  margin: 20px 0;
}

.text-field {
  display: inline-block;
  min-height: 66px;
  width: 642px;
  padding: 0 10px;
  background-color: white;
}

.photo {
  margin: 10px 0;
  width: 150px;
  border-radius: 100px;
  float: right;
}

.code-example {
  display: inline-block;
  padding: 10px;
  background-color: #dadada;
  border-left: 10px solid white;
  border-right: 10px solid white;
}

mark {
  background-color: rgb(39, 201, 223);
  color: white;
}

.footer-case{
  padding: 5px;
}

.footer-text{
  display: inline;
  color: white;
}

.footer-contacts{
  display: inline-block;
  padding: 0;
  
}

.footer-contacts li{
  display: inline;
}